{% extends "structure.html" %}

		{% block content %}
        <div id="top" class="container bg-light rounded" style="padding-top:10px; padding-bottom: 10px;
        padding-left:20px; padding-right:20px; margin-top:70px; margin-bottom:20px">
            <h2 class="text-center page-title"> Recherche Dichotomique - Résultat</h2>
            {% if win %}
			<h3 class="d-flex text-center cookie"><img src="/static/images/cartoon_cookie_small.png" alt="Icône cookie" width="35" height="35" />
                  Bravo ! Vous avez gagné un cookie virtuel !
                  <img src="/static/images/cartoon_cookie_small.png" alt="Icône cookie" width="35" height="35" /></h3>
            <p class="first-paragraph"><br>En effet, le nombre mystère était : <b>{{objectif}}</b> !</p>
			<p>C'était trop facile, vous devriez rééssayer avec un nombre plus grand. Pour ça, entrez une nouvelle valeur dans le champ suivant :</p>

			<form style="margin-top:30px" method="POST" action="{{url_for('recherche_dichotomique')}}">
				<div class="row text-center">
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 mb-1">
						<input  type="number" name="n" min="100" step="50" max="50000" class="form-control" required/>
					</div>
					<div class="d-flex col-lg-5 col-md-5 col-sm-5 col-xs-5 mb-1">
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</div>
			</form>
			<br>
			<p>Recommencer avec <b>100</b> pour valeur maximale <a href="{{url_for('recherche_dichotomique')}}">ici</a>.</p>
            {% else %}
			<h3 class="d-flex text-center sad-face"><img src="/static/images/sad_face.png" alt="Icône smiley triste" width="35" height="35" />
                 Game Over !
                <img src="/static/images/sad_face.png" alt="Icône smiley triste" width="35" height="35" /></h3>
            <p class="first-paragraph">Pas de cookie pour vous, votre dernier essai était le nombre <b>{{valeur}}</b>, alors
			que le serveur avait choisi <b>{{objectif}}</b>.</p>
            <p>Retentez votre chance avec un nouveau nombre. <br />Vous devriez pouvoir le trouver avec une bonne stratégie !</p>
        	<p><a href="{{url_for('recherche_dichotomique')}}">Retour vers la Recherche Dichotomique</a></p>
            {% endif %}

		</div>
		{% endblock %}
