<br><h5>Description PIX</h5>

<p>Interagir avec des individus et de petits groupes pour échanger dans divers contextes liés à la vie privée ou à une activité professionnelle, de façon ponctuelle et récurrente (avec une messagerie électronique, une messagerie instantanée, un système de visio-conférence, etc.).</p>

<h6>Thématiques associées</h6>

<p>Protocoles pour l'interaction ; Modalités d'interaction et rôles ; Applications et services pour l'interaction ; Vie privée et confidentialité ; Identité numérique et signaux ; Vie connectée ; Codes de communication et netiquette<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
