<br><h5>Description PIX</h5>

<p>Développer des documents à contenu multimédia pour créer ses propres
  productions multimédia, enrichir ses créations majoritairement textuelles
  ou créer une oeuvre transformative (mashup, remix, ...) (avec des logiciels
  de capture et d'édition d'image / son / vidéo / animation, des logiciels
  utiles aux pré-traitements avant intégration, etc.).</p>

<h6>Thématiques associées</h6>

<p>Applications d'édition de documents multimédia ; Capture son, image et
  vidéo et numérisation ; Interopérabilité ; Accessibilité ; Droit d'auteur
  ; Charte graphique et identité visuelle<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
