<br><h5>Description PIX</h5>

<p>Maîtriser ses traces et gérer les données personnelles pour protéger sa
  vie privée et celle des autres, et adopter une pratique éclairée (avec
  le paramétrage des paramètres de confidentialité, la surveillance régulière
  de ses traces par des alertes ou autres outils, etc.).</p>

<h6>Thématiques associées</h6>

<p>Données personnelles et loi ; Traces ; Vie privée et confidentialité ;
  Collecte et exploitation de données massives<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
