<br><h5>Description PIX</h5>

<p>Mener une recherche et une veille d’information pour répondre à un besoin
  d’information et se tenir au courant de l’actualité d’un sujet (avec un moteur
  de recherche, au sein d’un réseau social, par abonnement à des flux ou des
  lettres d’information, ou tout autre moyen).</p>

<h6>Thématiques associées</h6>

<p>Web et navigation ; Moteur de recherche et requête ; Veille d’information,
  flux et curation ; Evaluation de l’information ; Source et citation ;
  Gouvernance d’internet et ouverture du web ; Abondance de l’information,
  filtrage et personnalisation ; Recul critique face à l’information et aux
  médias ; Droit d’auteur.<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
