<br><h5>Description PIX</h5>

<p>Installer, configurer et enrichir un environnement numérique
  (matériels, outils, services) pour disposer d'un cadre adapté aux activités
  menées, à leur contexte d'exercice ou à des valeurs (avec les outils de
  configuration des logiciels et des systèmes d'exploitation, l'installation
  de nouveaux logiciels ou la souscription à des services, etc.).</p>

<h6>Thématiques associées</h6>

<p>Histoire de l'informatique ; Informatique et matériel ; Logiciels,
  applications et services ; Système d'exploitation ; Réseau informatique ;
  Offre (matériel, logiciel, service) ; Modèles et stratégies économiques<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
