<br><h5>Description PIX</h5>

<p>Adapter des documents de tous types en fonction de l'usage envisagé et
  maîtriser l'usage des licences pour permettre, faciliter et encadrer
  l'utilisation dans divers contextes (mise à jour fréquente, diffusion
  multicanale, impression, mise en ligne, projection, etc.) (avec les
  fonctionnalités des logiciels liées à la préparation d'impression, de
  projection, de mise en ligne, les outils de conversion de format, etc.).</p>

<h6>Thématiques associées</h6>

<p>Licences ; Diffusion et mise en ligne d'un document Ergonomie et
  réutilisabilité du document ; Ecriture pour le web ; Interopérabilité ;
  Accessibilité ; Vie privée et confidentialité<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
