<br><h5>Description PIX</h5>

<p>Maîtriser les stratégies et enjeux de la présence en ligne, et choisir ses
  pratiques pour se positionner en tant qu'acteur social, économique et citoyen
  dans le monde numérique, en lien avec ses règles, limites et potentialités,
  et en accord avec des valeurs et/ou pour répondre à des objectifs (avec les
  réseaux sociaux et les outils permettant de développer une présence publique
  sur le web, et en lien avec la vie citoyenne, la vie professionnelle, la vie
  privée, etc.).</p>

<h6>Thématiques associées</h6>

<p>Identité numérique et signaux ; e-Réputation et influence ; Codes de
  communication et netiquette ; Pratiques sociales et participation citoyenne ;
  Modèles et stratégies économiques ; Questions éthiques et valeurs ; Gouvernance
  d'internet et ouverture du web ; Liberté d'expression et droit à l'information<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
