<br><h5>Description PIX</h5>

<p>Sécuriser les équipements, les communications et les données pour se
  prémunir contre les attaques, pièges, désagréments et incidents susceptibles
  de nuire au bon fonctionnement des matériels, logiciels, sites internet, et
  de compromettre les transactions et les données (avec des logiciels de
  protection, des techniques de chiffrement, la maîtrise de bonnes pratiques,
  etc.).</p>

<h6>Thématiques associées</h6>

<p>Attaques et menaces ; Chiffrement ; Logiciels de prévention et de
  protection ; Authentification ; Sécurité du système d'information ;
  Vie privée et confidentialité<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
