<br><h5>Description PIX</h5>

<p>Résoudre des problèmes techniques pour garantir et rétablir le bon
  fonctionnement d'un environnement informatique (avec les outils de
  configuration et de maintenance des logiciels ou des systèmes
  d'exploitation, et en mobilisant les ressources techniques ou
  humaines nécessaires, etc.).</p>

<h6>Thématiques associées</h6>

<p>Panne et support informatique ; Administration et configuration ;
  Maintenance et mise à jour ; Sauvegarde et restauration ; Interopérabilité ;
  Complexité<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
