<br><h5>Description PIX</h5>

<p>Produire des documents à contenu majoritairement textuel pour communiquer
des idées, rendre compte et valoriser ses travaux (avec des logiciels de
traitement de texte, de présentation, de création de page web, de carte
conceptuelle, etc.).</p>

<h6>Thématiques associées</h6>

<p>Applications d'édition de documents textuels ; Structure et séparation forme
et contenu ; Illustration et intégration ; Charte graphique et identité visuelle
; Interopérabilité ; Ergonomie et réutilisabilité du document ; Accessibilité ;
Droit d'auteur<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
