<br><h5>Description PIX</h5>

<p>Stocker et organiser des données pour les retrouver, les conserver et en
  faciliter l’accès et la gestion (avec un gestionnaire de fichiers, un espace
  de stockage en ligne, des tags, des classeurs, des bases de données, un
  système d’information, etc.).</p>

<h6>Thématiques associées</h6>

<p>Dossier et fichier ; Stockage et compression ; Transfert et synchronisation ;
  Recherche et méta-données ; Indexation sémantique et libellé (tag) ;
  Structuration des données ; Système d’information ; Localisation des données
  et droit applicable ; Modèles et stratégies économiques ; Sécurité du système d’information.<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
