<br><h5>Description PIX</h5>

<p>Prévenir et limiter les risques générés par le numérique sur la santé,
  le bien- être et l'environnement mais aussi tirer parti de ses potentialités
  pour favoriser le développement personnel, le soin, l'inclusion dans la
  société et la qualité des conditions de vie, pour soi et pour les autres
  (avec la connaissance des effets du numérique sur la santé physique et
  psychique et sur l'environnement, et des pratiques, services et outils
  numériques dédiés au bien-être, à la santé, à l'accessibilité).</p>

<h6>Thématiques associées</h6>

<p>Ergonomie du poste de travail ; Communication sans fil et ondes ;
  Impact environnemental ; Accessibilité ; Vie connectée ; Capteurs ;
  Intelligence artificielle et robots ; Santé ; Vie privée et confidentialité<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
