<br><h5>Description PIX</h5>

<p>Collaborer dans un groupe pour réaliser un projet, co-produire des ressources, des connaissances, des données, et pour apprendre (avec des plateformes de travail collaboratif et de partage de document, des éditeurs en ligne, des fonctionnalités de suivi de modifications ou de gestion de versions, etc.).</p>
<h6>Thématiques associées</h6>

<p>Modalités de collaboration et rôles ; Applications et services de partage de document et d'édition en ligne ; Versions et révisions ; Droits d'accès et conflit d'accès ; Gestion de projet ; Droit d'auteur ; Vie connectée ; Vie privée et confidentialité<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
