<br><h5>Description PIX</h5>

<p>Appliquer des traitements à des données pour les analyser et les interpréter
  (avec un tableur, un programme, un logiciel de traitement d’enquête, une
  requête calcul dans une base de données, etc.).</p>

<h6>Thématiques associées</h6>

<p>Données quantitatives, type et format de données ; Calcul, traitement
  statistique et représentation graphique ; Flux de données ; Collecte et
  exploitation de données massives ; Pensée algorithmique et informatique ;
  Vie privée et confidentialité ; Interopérabilité<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
