<br><h5>Description PIX</h5>

<p>Ecrire des programmes et des algorithmes pour répondre à un besoin
  (automatiser une tâche répétitive, accomplir des tâches complexes ou
  chronophages, résoudre un problème logique, etc.) et pour développer un
  contenu riche (jeu, site web, etc.) (avec des environnements de développement
  informatique simples, des logiciels de planification de tâches, etc.).</p>

<h6>Thématiques associées</h6>

<p>Algorithme et programme ; Représentation et codage de l'information ;
  Complexité ; Pensée algorithmique et informatique ; Collecte et exploitation
  de données massives ; Intelligence artificielle et robots<br>
  (source : <a href="https://pix.fr/competences/">pix.fr</a>)</p>
